node_modules
**/node_modules
client/node_modules
whatsapp-server/node_modules
dist
**/dist
build
.env
.git
.gitignore
auth_info_baileys
baileys_store.json
npm-debug.log
pnpm-debug.log
yarn-error.log
.DS_Store
